@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

.list {
  height: 500px;
  overflow-y: scroll;
}

/* Books.jsx styling */
.list::-webkit-scrollbar {
  display: none;
}

/* Book.jsx styling */
.lesson_panel {
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 2rem 7.188rem 1.625rem 1.688rem;
  margin: 2.313rem 6.25rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lesson_content {
  display: flex;
  align-items: center;
  gap: 10rem;
  border-right: 3px solid #e8e8e8;
  padding-right: 32px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.category {
  color: #121212;
  opacity: 0.5;
  font-size: 0.975rem;
  font-weight: 700;
}

.title {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.author,
.action li button {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.action {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 0.7rem;
}

.action li {
  border-right: 2px solid #e8e8e8;
  padding: 0.2rem 1rem;
}

.action li:nth-child(1) {
  padding-left: 0;
}

.action li:nth-child(3) {
  border-right: none;
}

.action li button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* progress */

.progress {
  display: flex;
  gap: 1.21rem;
}

.progress_pic {
  width: 4.25rem;
  height: 4.25rem;
}

.progress_content {
  display: flex;
  flex-direction: column;
}

.progress_text,
.progress_complete {
  color: #121212;
}

.progress_text {
  font-size: 2rem;
}

.progress_complete {
  opacity: 0.5;
  font-size: 0.975rem;
}

.current {
  display: flex;
  flex-direction: column;
  gap: 0.41rem;
  padding: 0 4rem;
}

.current_1,
.chapter {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.current_1 {
  opacity: 0.5;
  font-size: 0.813rem;
  text-transform: uppercase;
}

.chapter {
  font-size: 1rem;
}

.btn_upgrade {
  width: 11.5rem;
  height: 2.063rem;
  background: #0290ff;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

/* AddBooks.jsx styling */
.add_form {
  padding: 0 6.5rem;
  font-family: 'Montserrat', sans-serif;
}

.add_form h2 {
  color: #888;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.18px;
}

.form {
  display: flex;
  gap: 0.625rem;
}

input {
  height: 2.813rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0 12px;
  outline: none;
}

input::placeholder {
  color: #c4c4c4;
  font-size: 1.1rem;
  letter-spacing: 0.15px;
}

.input_title {
  width: 31.5rem;
}

.input_author {
  width: 12.5rem;
}

.input_category {
  width: 10.815rem;
  outline: none;
  border: 1px solid #e8e8e8;
  font-size: 1.1rem;
  letter-spacing: 0.15px;
}

.btn_submit {
  width: 11.5rem;
  background: #0290ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
